.notFoundPage{
    position: relative;
}
.notFoundImg{
    max-width: 100%;
}
.head{
    font-size: 35px;
    font-weight: 600;
}
.content{
    color: white;
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 50px;
}