.logo{
    font-size: 30px;
    font-weight: 700;
}
.searchIcon{
    fill: green;
}
.searchInput{
    max-width: 600px;
}

.bi-basket{
    vertical-align: top;
}
.btn{
    vertical-align: middle;
}
.navlink{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    background-color: #6F73EE;
    border-radius: 5px;
    padding: 10px 0 0 0;
    transition: all 0.2s;
    &:hover{
        color:#6F73EE;
        border-color: #6F73EE;
        background-color: white;
    }
}

.basketBtn{
    border-radius: 50%;
    padding: 10px;
}