.logo{
    font-size: 30px;
    font-weight: 700;
}
.searchIcon{
    fill: green;
}
.searchInput{
    max-width: 600px;
}
.basketBtn{
    border-radius: 50%;
}
.bi-basket{
    vertical-align: top;
}
.btn{
    vertical-align: middle;
}